/*!
 * Christmas v1.0
 * Creado por gabiwnk
 * Todos los derechos reservados
 *
 * Canal del creador:
 * https://www.youtube.com/@Gabiwnk
 */

@charset "UTF-8";

@import url("https://cdn.jsdelivr.net/gh/inibox-inc/Dramaleros@v1.0.3/assets/css/christmas.css");
@import url("https://cdn.jsdelivr.net/gh/inibox-inc/Dramaleros@v1.0.3/assets/css/movie-christmas.css");
@import url("https://cdn.jsdelivr.net/gh/inibox-inc/Dramaleros@v1.0.3/assets/css/serie-christmas.css");
@import url("https://cdn.jsdelivr.net/gh/inibox-inc/Dramaleros@v1.0.3/assets/css/search-christmas.css");
@import url("https://cdn.jsdelivr.net/gh/inibox-inc/Dramaleros@v1.0.3/assets/css/christmas-profile.css");
